@model Services.Hostory.Models.HistoryViewModel

<head>
    <title>Добавление</title>
</head>
<body>
<h3 class="ml-3">Добавление Истории</h3>
<form class="form" enctype="multipart/form-data" href="/Admin/History/CreateHistory" method="post">
    <div class="form-group mt-3 ml-3">
        <label >Заголовок</label>
        <input type="text" class="form-control" name="title" asp-for="Title">
    </div>
    <div class="form-group ml-3">
        <label >Описание</label>
        <input type="text" class="form-control" name="description" asp-for="Description">
    </div>
    <input type="submit" name="time" class="btn btn-primary ml-3">
</form>
</body>
