@model Services.Hostory.Models.HistoryViewModel

<head>
    <title>Добавление</title>
</head>
<body>
<h3 class="ml-3">Добавление Истории</h3>
<form class="form" enctype="multipart/form-data" href="/Admin/History/CreateHistory" method="post">
    <div class="form-group mt-3 ml-3">
        <label >Заголовок</label>
        <input type="text" class="form-control" name="title" asp-for="Title">
    </div>
    <div class="form-group ml-3">
        <label >Описание</label>
        <input type="text" class="form-control" name="description" asp-for="Description">
    </div>
    
    <div class="custom-file-container" data-upload-id="mySecondImage">
        <label>Добавление файла <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>
        <label class="custom-file-container__custom-file" >
            <input type="file" name="files" asp-for="Files" class="custom-file-container__custom-file__custom-file-input" multiple>
            <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
            <span class="custom-file-container__custom-file__custom-file-control"></span>
        </label>
        <div class="custom-file-container__image-preview"></div>
    </div>
    <input type="submit" name="time" class="btn btn-primary ml-3">
</form>
</body>
